.gradle/
build/
**/build/

local.properties

.idea/
*.iml
*.iws
*.ipr

*.jks
*.keystore

.DS_Store
Thumbs.db

*.log

.idea/navEditor.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/assetWizardSettings.xml

captures/
.externalNativeBuild/
.cxx/

.kotlin/

*.kapt_generated
*.kotlin_builtins

schemas/

google-services.json

*.tmp
*.bak